.cart__top,
.cart__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__bottom__right {
  display: flex;
  flex-direction: column;
}

.cart__bottom__right .btn {
  background: #00ff00;
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.cart__top .btn {
  background: #ff3636;
  /* color: black; */
  font-size: 26px;
}

@media (max-width: 600px) {
  .cart__top .btn {
    font-size: 16px;
  }

  .cart__middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
