.productList__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.productList {
  /* width: 100vw; */
  margin: 20px 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .productList {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .productList {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .productList {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .productList {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .productList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .productList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.main_productlist_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
