nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.navbar__logo {
  font-size: 24px;
  font-weight: 600;
}

.navbar__navlist {
  display: flex;
}

.navbar__navitem {
  margin: 0.5rem 0 0.5rem 3rem;
  padding: 0.5rem 1rem;
  /* background: white; */
}

.navbar__navlink {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
