.cartitem__div {
  margin: 20px 0;
  background: white;
  box-shadow: var(--light-shadow);
  padding: 20px;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartitem__div h4 {
  width: 600px;
}

.cartitem__div img {
  height: 50px;
  object-fit: cover;
}

@media (max-width: 600px) {
  /* smartphones, Android phones, landscape iPhone */
  .cartitem__div {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 320px;
  }

  .cartitem__div h4 {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }

  .cartitem__div img {
    margin-bottom: 10px;
  }
  .cartitem__div h3 {
    margin-bottom: 10px;
  }
}

.quantity {
  display: flex;
  flex-direction: column;
}

.quantity h3 {
  margin: 0;
}
