.card {
  max-width: 350px;
  background: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s;
}

.card:hover {
  box-shadow: var(--light-shadow);
}

.card img {
  margin: 10px;
  height: auto;
}

.card__data {
  padding: 20px;
}

.card__addtocart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__data h4 {
  margin-bottom: 1.25rem;
}

.card img {
  height: 200px;
  object-fit: cover;
  max-width: 350px;
}
