.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search form input {
  width: 700px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid white;
  font-size: 18px;
  font-weight: 600;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .search form input {
    width: 300px;
  }
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .search form input {
    width: 400px;
  }
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .search form input {
    width: 520px;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .search form input {
    width: 700px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .search form input {
    width: 700px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .search form input {
    width: 700px;
  }
}
